PORT=8000
DATABASE_URL=postgresql://...


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:5173/auth/google/callback


JWT_PRIVATE_KEY_B64=wegsweg4
JWT_PUBLIC_KEY_B64=Qtrhjr
AccessTokenMaxAge=5
RefreshTokenMaxAge=1

COOKIE_SECURE=false
COOKIE_DOMAIN=false
