PORT=8080
DATABASE_URL=postgresql://...


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:5173/auth/google/callback


JWT_PRIVATE_KEY_B64=wegsweg4
JWT_PUBLIC_KEY_B64=Qtrhjr
ACCESS_TOKEN_MAX_AGE=5
REFRESH_TOKEN_MAX_AGE=1

COOKIE_SECURE=false
COOKIE_DOMAIN=false

CONVENE_LOG_URL=http://wefefewsfw4
